@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Uchen&display=swap');

body{
    margin: 0;
    background: lightgray;    
}

:root{
    --main-color:white;
}

.bg {
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    filter: blur(4px);

}

.bg-text {
    color: var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60px;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    background: black;  
}

.custom-section {
     padding-top: 50px;
}

.cb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

footer{
    background: black;
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;
}

li{
    font-family: 'Poppins', sans-serif;
}

.home{
    background-image:url("./img/Fondo2.webp");
    background-size: cover;
    background-position: center center;
   
     
}

.contact-section{
    border: 3px solid black;
}

.contenedor {
	margin: auto;
	display: table;
}

.titulo {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size:40px;
    font-weight: bold;
  }

h1 span {
    position:absolute;
    right:0;
    width:0;
    background: black;    
    border-left: 1px solid black;
    
    animation: escribir 5s steps(30) infinite alternate;
}

.caja{
      
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
    margin-top: 100px;
    border: 3px solid black;
  }

  .about{
    width: 75%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 150px;
    margin-top: 100px;   
  }
  
  .perfil{
    width="960";
     height="640";
    border-radius: 50px;
    }

@keyframes escribir {
    from { width: 100% }
    to { width:0 }
}